# 1. Setup

In [3]:
# !pip3 install pandas
# !pip3 install numpy
# !pip3 install seaborn

Collecting pandas
  Using cached pandas-2.0.3-cp38-cp38-macosx_11_0_arm64.whl (10.7 MB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/axiao/.pyenv/versions/3.8.18/envs/ecommerce/lib/python3.8/site-packages (from pandas) (2.9.0.post0)
Collecting tzdata>=2022.1
  Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 345.4/345.4 kB 2.7 MB/s eta 0:00:00a 0:00:01
Collecting pytz>=2020.1
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 505.5/505.5 kB 9.4 MB/s eta 0:00:00a 0:00:01
Collecting numpy>=1.20.3
  Using cached numpy-1.24.4-cp38-cp38-macosx_11_0_arm64.whl (13.8 MB)
Requirement already satisfied: six>=1.5 in /Users/axiao/.pyenv/versions/3.8.18/envs/ecommerce/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.24.4 pandas-2.0.3 pytz-2024.1 tzdata-2024.1

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: numpy in /Users/axiao/.pyenv/versions/3.8.18/envs/ecommerce/lib/python3.8/site-packages (1.24.4)

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: pip install --upgrade pip
Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 294.9/294.9 kB 2.5 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Users/axiao/.pyenv/versions/3.8.18/envs/ecommerce/lib/python3.8/site-packages (from seaborn) (1.24.4)
Requirement already satisfied: pandas>=1.2 in /Users/axiao/.pyenv/versions/3.8.18/envs/ecommerce/lib/python3.8/site-packages (from seaborn) (2.0.3)
Collecting matplotlib!=3.6.1,>=3.4
  Downloading matplotlib-3.7.5-cp38-cp38-macosx_11_0_arm64.whl (7.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.3/7.3 MB 10.7 MB/s eta 0:00:00a 0:00:01
Collecting importlib-resources>=3.2.0
  Downloading importlib_resources-6.1.3-py3-none-any.whl (34 kB)
Requirement already satisfied: packaging>=20.0 in /Users/axiao/.pyenv/versions/3.8.18/envs/ecommerce/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.0)
Collecting kiwisolver>=1.0.1
  Using cached kiwisolver-1.4.5-cp38-cp38-macosx_11_0_arm64.whl (66 kB)
Collecting pyparsing>=2.3.1
  Downloading pyparsing-3.1.2-py3-none-any.whl (103 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 103.2/103.2 kB 7.1 MB/s eta 0:00:00
Collecting contourpy>=1.0.1
  Using cached contourpy-1.1.1-cp38-cp38-macosx_11_0_arm64.whl (232 kB)
Requirement already satisfied: python-dateutil>=2.7 in /Users/axiao/.pyenv/versions/3.8.18/envs/ecommerce/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Collecting cycler>=0.10
  Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Collecting pillow>=6.2.0
  Using cached pillow-10.2.0-cp38-cp38-macosx_11_0_arm64.whl (3.3 MB)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.49.0-cp38-cp38-macosx_10_9_universal2.whl (2.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.8/2.8 MB 7.8 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: pytz>=2020.1 in /Users/axiao/.pyenv/versions/3.8.18/envs/ecommerce/lib/python3.8/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /Users/axiao/.pyenv/versions/3.8.18/envs/ecommerce/lib/python3.8/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: zipp>=3.1.0 in /Users/axiao/.pyenv/versions/3.8.18/envs/ecommerce/lib/python3.8/site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.4->seaborn) (3.17.0)
Requirement already satisfied: six>=1.5 in /Users/axiao/.pyenv/versions/3.8.18/envs/ecommerce/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Installing collected packages: pyparsing, pillow, kiwisolver, importlib-resources, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.1.1 cycler-0.12.1 fonttools-4.49.0 importlib-resources-6.1.3 kiwisolver-1.4.5 matplotlib-3.7.5 pillow-10.2.0 pyparsing-3.1.2 seaborn-0.13.2

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: pip install --upgrade pip

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

# 2. Data Cleaning

## 2.2 Quick Look

In [6]:
# %ls
df = pd.read_csv('data.csv', encoding='ISO-8859-1')

In [7]:
df.shape

(541909, 8)

In [8]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [9]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

convert `InvoiceDate` into a `datetime` col

In [10]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

## 2.3 Anomaly Values

In [29]:
df[['Quantity', 'UnitPrice']].describe()

            Quantity      UnitPrice
count  541909.000000  541909.000000
mean        9.552250       4.611114
std       218.081158      96.759853
min    -80995.000000  -11062.060000
25%         1.000000       1.250000
50%         3.000000       2.080000
75%        10.000000       4.130000
max     80995.000000   38970.000000

rows with `UnitPrice` < 0 looks like book keeping adjustments, instead of actual customer purchasing records

In [31]:
df[df['UnitPrice'] < 0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
299983,A563186,B,Adjust bad debt,1,2011-08-12 14:51:00,-11062.06,NaN,United Kingdom
299984,A563187,B,Adjust bad debt,1,2011-08-12 14:52:00,-11062.06,NaN,United Kingdom

`Quantity` < 0 also looks non-usable.

In [32]:
df[df['Quantity'] < 0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,2011-12-09 09:57:00,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,2011-12-09 10:28:00,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,2011-12-09 11:57:00,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2011-12-09 11:58:00,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,2011-12-09 11:58:00,1.25,17315.0,United Kingdom

let's drop these

## NAs

25% (135,080 out of 541,909 rows) `customerID`'s and .2% (1,454 out of 541,909) are NAs!

In [11]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [15]:
df[df['CustomerID'].isnull()].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,2010-12-01 11:52:00,0.00,NaN,United Kingdom
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,2010-12-01 14:32:00,2.51,NaN,United Kingdom
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,2010-12-01 14:32:00,2.51,NaN,United Kingdom
1445,536544,21786,POLKADOT RAIN HAT,4,2010-12-01 14:32:00,0.85,NaN,United Kingdom
1446,536544,21787,RAIN PONCHO RETROSPOT,2,2010-12-01 14:32:00,1.66,NaN,United Kingdom

In [18]:
tmp = df[df['CustomerID'].isnull()]
tmp[['Quantity', 'UnitPrice']].describe()

            Quantity      UnitPrice
count  135080.000000  135080.000000
mean        1.995573       8.076577
std        66.696153     151.900816
min     -9600.000000  -11062.060000
25%         1.000000       1.630000
50%         1.000000       3.290000
75%         3.000000       5.450000
max      5568.000000   17836.460000

rows with negative `quantity` & `UnitPrice` values should be faulty values?

In [20]:
tmp[(tmp['Quantity'] < 0) | (tmp['UnitPrice'] < 0)]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
2406,536589,21777,NaN,-10,2010-12-01 16:50:00,0.0,NaN,United Kingdom
4347,536764,84952C,NaN,-38,2010-12-02 14:42:00,0.0,NaN,United Kingdom
7188,536996,22712,NaN,-20,2010-12-03 15:30:00,0.0,NaN,United Kingdom
7189,536997,22028,NaN,-20,2010-12-03 15:30:00,0.0,NaN,United Kingdom
7190,536998,85067,NaN,-6,2010-12-03 15:30:00,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
535333,581210,23395,check,-26,2011-12-07 18:36:00,0.0,NaN,United Kingdom
535335,581212,22578,lost,-1050,2011-12-07 18:38:00,0.0,NaN,United Kingdom
535336,581213,22576,check,-30,2011-12-07 18:38:00,0.0,NaN,United Kingdom
536908,581226,23090,missing,-338,2011-12-08 09:56:00,0.0,NaN,United Kingdom
538919,581422,23169,smashed,-235,2011-12-08 15:24:00,0.0,NaN,United Kingdom

now  we see a lot of the negative quantities and missing customerIDs are result from faulty (e.g. missing/ smashed/ lost/ thrown away etc.) goods

In [22]:
tmp[(tmp['Quantity'] < 0) ]['Description'].unique()

array([nan, '?', 'ENAMEL MEASURING JUG CREAM',
       '4 TRADITIONAL SPINNING TOPS', 'S/6 WOODEN SKITTLES IN COTTON BAG',
       'ALPHABET STENCIL CRAFT', 'TRADITIONAL WOODEN SKIPPING ROPE',
       "POPPY'S PLAYHOUSE BATHROOM", 'MEASURING TAPE BABUSHKA RED',
       'ROUND SNACK BOXES SET OF 4 SKULLS', 'RED  HARMONICA IN BOX ',
       'ROTATING SILVER ANGELS T-LIGHT HLDR', "POPPY'S PLAYHOUSE KITCHEN",
       'CHRISTMAS LIGHTS 10 VINTAGE BAUBLES', '10 COLOUR SPACEBOY PEN',
       'PAPER CHAIN KIT LONDON', 'FELTCRAFT CHRISTMAS FAIRY',
       'CHRISTMAS CRAFT TREE TOP ANGEL',
       'ROUND SNACK BOXES SET OF 4 FRUITS ', 'MAGIC DRAWING SLATE PURDEY',
       'EIGHT PIECE DINOSAUR SET', 'FAIRY TALE COTTAGE NIGHTLIGHT',
       'check', 'damages', 'Bank Charges', 'SAMPLES', 'AMAZON FEE',
       'Manual', 'faulty', 'Dotcom sales', 'GUMBALL COAT RACK',
       'SET OF 3 CAKE TINS PANTRY DESIGN ', 'BINGO SET',
       'reverse 21/5/10 adjustment', 'OCEAN SCENT CANDLE IN JEWELLED BOX',
       'POSTAGE', 'mouldy, thrown away.', 'SAVOY ART DECO CLOCK',
       'counted', 'BLUE GEISHA GIRL ', 'PINK LOVE BIRD CANDLE',
       'RETROSPOT BABUSHKA DOORSTOP', 'S/4 CACTI CANDLES',
       'BLUE POT PLANT CANDLE ', 'S/4 PINK FLOWER CANDLES IN BOWL',
       'SET/4 RED MINI ROSE CANDLE IN BOWL',
       'TEA TIME TEAPOT IN GIFT BOX', 'Given away', 'Dotcom',
       'label mix up', 'samples/damages', 'DOTCOM POSTAGE',
       'GLASS  BEURRE DISH', 'ADVENT CALENDAR GINGHAM SACK',
       'RETROSPOT PARTY BAG + STICKER SET',
       'SKULLS PARTY BAG + STICKER SET', 'thrown away',
       'DOORMAT BLACK FLOCK ', 'incorrectly made-thrown away.',
       'showroom', 'PACK OF 20 NAPKINS PANTRY DESIGN', 'MIA',
       'Dotcom set', 'wrongly sold as sets', 'Amazon sold sets',
       'dotcom sold sets', 'wrongly sold sets', '? sold as sets?',
       '?sold as sets?', 'Thrown away.', 'damages/display',
       'damaged stock', 'broken', 'throw away', 'wrong barcode (22467)',
       'FOUR HOOK  WHITE LOVEBIRDS', '20 DOLLY PEGS RETROSPOT',
       'PHOTO FRAME CORNICE', 'SMALL CHUNKY GLASS ROMAN  BOWL',
       'ANTIQUE TALL SWIRLGLASS TRINKET POT', 'wrong barcode',
       'barcode problem', '?lost', "thrown away-can't sell.",
       "thrown away-can't sell", 'FRIDGE MAGNETS LA VIE EN ROSE',
       'ASSTD FRUIT+FLOWERS FRIDGE MAGNETS',
       'ASSORTED COLOUR BIRD ORNAMENT', 'WRAP ALPHABET DESIGN',
       'REVOLVER WOODEN RULER ', 'GIRAFFE WOODEN RULER',
       'METAL DECORATION NAUGHTY CHILDREN ',
       'CHRISTMAS METAL TAGS ASSORTED ',
       'FRIDGE MAGNETS US DINER ASSORTED',
       'ASSORTED BOTTLE TOP  MAGNETS ', '12 MESSAGE CARDS WITH ENVELOPES',
       'WRAP CIRCUS PARADE', 'WRAP I LOVE LONDON ',
       'MAGNETS PACK OF 4 VINTAGE LABELS ',
       'MAGNETS PACK OF 4 VINTAGE COLLAGE',
       'MAGNETS PACK OF 4 CHILDHOOD MEMORY', 'MAGNETS PACK OF 4 SWALLOWS',
       'MAGNETS PACK OF 4 RETRO PHOTO', 'VINTAGE CARAVAN GIFT WRAP',
       'SPACEBOY GIFT WRAP', 'KEY FOB , FRONT  DOOR ',
       'SET/4 SKULL BADGES', 'VICTORIAN  METAL POSTCARD SPRING',
       'damages?', 're dotcom quick fix.', "Dotcom sold in 6's",
       'sold in set?', 'cracked', 'sold as 22467',
       'MEASURING TAPE BABUSHKA BLUE', 'Damaged',
       'mystery! Only ever imported 1800',
       'MERCHANT CHANDLER CREDIT ERROR, STO', 'POSSIBLE DAMAGES OR LOST?',
       'damaged', 'DAMAGED', 'Display', 'Missing', 'wrong code?',
       'wrong code', 'adjust', 'crushed', 'damages/showroom etc',
       'samples', 'damages/credits from ASOS.',
       'Not rcvd in 10/11/2010 delivery', 'Thrown away-rusty',
       'sold as set/6 by dotcom', 'wet/rusty', 'damages/dotcom?',
       'EMPIRE DESIGN ROSETTE', 'BAG 125g SWIRLY MARBLES',
       'TEA FOR ONE POLKADOT', 'MULTI COLOUR SILVER T-LIGHT HOLDER',
       'smashed', 'reverse previous adjustment',
       'incorrectly credited C550456 see 47',
       'LUNCH BAG DOLLY GIRL DESIGN', 'LUNCH BAG APPLE DESIGN',
       'wet damaged', 'Water damaged', 'missing', 'sold as set on dotcom',
       'sold as set on dotcom and amazon', 'water damage',
       'sold as set by dotcom', 'Printing smudges/thrown away',
       'printing smudges/thrown away', 'found some more on shelf',
       'Show Samples', 'CARRIAGE', 'HYACINTH BULB T-LIGHT CANDLES',
       'EAU DE NIL LOVE BIRD CANDLE', 'IVORY LOVE BIRD CANDLE',
       'WHITE CHRYSANTHEMUMS ART FLOWER',
       'WHITE ALLIUM  ARTIFICIAL FLOWER',
       'PURPLE FOXGLOVE ARTIIFCIAL FLOWER', 'BOX OF 24 COCKTAIL PARASOLS',
       'SET OF 3 BUTTERFLY COOKIE CUTTERS', 'CARD BILLBOARD FONT',
       '3 TRADITIONAl BISCUIT CUTTERS  SET', 'ALARM CLOCK BAKELIKE IVORY',
       'ALARM CLOCK BAKELIKE GREEN', 'DOLLY GIRL LUNCH BOX',
       'CABIN BAG VINTAGE PAISLEY', 'JUMBO SHOPPER VINTAGE RED PAISLEY',
       'OFFICE MUG WARMER POLKADOT', 'PAPER CHAIN KIT RETROSPOT',
       'PACK OF 12 PINK PAISLEY TISSUES ',
       'PACK OF 12 RED RETROSPOT TISSUES ',
       'PINK VINTAGE PAISLEY PICNIC BAG', 'CHOCOLATE CALCULATOR',
       'CLASSIC FRENCH STYLE BASKET GREEN ', 'HOME BUILDING BLOCK WORD',
       'CLASSIC METAL BIRDCAGE PLANT HOLDER',
       'VICTORIAN SEWING BOX SMALL ', 'PACK OF 72 RETROSPOT CAKE CASES',
       'SET/10 RED POLKADOT PARTY CANDLES', 'LUNCH BAG RED RETROSPOT',
       'RED RETROSPOT SHOPPER BAG', 'STRAWBERRY SHOPPER BAG',
       'RED RETROSPOT LUGGAGE TAG', 'EDWARDIAN PARASOL NATURAL',
       'PARTY BUNTING', 'BREAD BIN DINER STYLE IVORY',
       "MOTHER'S KITCHEN SPOON REST ", 'mix up with c',
       'JAM MAKING SET WITH JARS', 'mouldy, unsaleable.',
       'ROSES REGENCY TEACUP AND SAUCER ', 'wrongly marked. 23343 in box',
       'stock creditted wrongly', 'ENAMEL FLOWER JUG CREAM',
       'ENAMEL WASH BOWL CREAM', 'COLOUR GLASS T-LIGHT HOLDER HANGING',
       'ebay', 'incorrectly put back into stock', 'Damages/samples',
       'AIRLINE BAG VINTAGE TOKYO 78', 'LARGE TORTILLA DESIGN RED BOWL',
       'Sold as 1 on dotcom', 'SET OF TEA COFFEE SUGAR TINS PANTRY',
       'taig adjust no stock', 'code mix up? 84930', '?display?',
       'sold as 1', '?missing', 'crushed ctn', 'Crushed',
       'temp adjustment', '??', 'test', 'OOPS ! adjustment',
       'BREAD BIN DINER STYLE RED ', 'SAVE THE PLANET MUG', 'Dagamed',
       'historic computer difference?....se', 'Incorrect stock entry.',
       'incorrect stock entry.', 'RED RETROSPOT CAKE STAND',
       'wrongly coded-23343', 'stock check', 'crushed boxes',
       'WET/MOULDY', "can't find", 'mouldy', 'Wet pallet-thrown away',
       '60 TEATIME FAIRY CAKE CASES', 'HANGING  BUTTERFLY T-LIGHT HOLDER',
       "6 GIFT TAGS 50'S CHRISTMAS ", '6 GIFT TAGS VINTAGE CHRISTMAS ',
       "ROLL WRAP 50'S RED CHRISTMAS ", "ROLL WRAP 50'S CHRISTMAS",
       'ROLL WRAP VINTAGE SPOT ', 'ROLL WRAP VINTAGE CHRISTMAS',
       'VINTAGE CHRISTMAS STOCKING ', 'CHERUB HEART DECORATION SILVER ',
       'CHRISTMAS TREE HANGING SILVER ', 'CHRISTMAS TREE HANGING GOLD',
       'REINDEER HEART DECORATION GOLD', 'HAND WARMER SCOTTY DOG DESIGN',
       'SET OF 6 T-LIGHTS SANTA', 'HAND WARMER RED RETROSPOT',
       'LUNCH BAG SUKI DESIGN ', 'RED TOADSTOOL LED NIGHT LIGHT',
       'LUNCH BAG  BLACK SKULL.', 'adjustment', '20713 wrongly marked',
       're-adjustment', 'Breakages', '20713', 'wrongly coded 20713',
       'SET OF 10 LANTERNS FAIRY LIGHT STAR', 'Damages', 'CHECK',
       'Unsaleable, destroyed.', 'dotcom sales',
       'VICTORIAN GLASS HANGING T-LIGHT', 'damages wax', 'water damaged',
       'WOODEN ADVENT CALENDAR RED', 'Wrongly mrked had 85123a in box',
       'wrongly marked carton 22804', 'missing?', 'wet rusty', '???lost',
       'sold with wrong barcode', 'BEADED CHANDELIER T-LIGHT HOLDER',
       'FLOWERS CHANDELIER T-LIGHT HOLDER',
       'IVORY CHANDELIER T-LIGHT HOLDER', 'rusty thrown away',
       'rusty throw away', 'RED WOOLLY HOTTIE WHITE HEART.',
       'WOODEN FRAME ANTIQUE WHITE ', 'HOT STUFF HOT WATER BOTTLE',
       'HOT WATER BOTTLE KEEP CALM', 'HOT WATER BOTTLE I AM SO POORLY',
       'HOT WATER BOTTLE TEA AND SYMPATHY', 'CHOCOLATE HOT WATER BOTTLE',
       'dotcom', '?? missing', 'wet pallet', '????missing', '???missing',
       'lost in space', 'wet?', 'lost??',
       'ASSORTED SHAPES PHOTO CLIP SILVER ',
       'FAMILY ALBUM WHITE PICTURE FRAME', '???', 'wet', 'wet boxes',
       '????damages????', 'mixed up', 'lost'], dtype=object)

In [27]:
tmp[(tmp['UnitPrice'] < 0) ]['Description'].unique()

array(['Adjust bad debt'], dtype=object)

let's add a `loss` column to mark these entries (may drop later)

In [23]:
tmp['loss'] = False
tmp['loss'] = np.where(
    tmp['loss'] < 0,
    True,
    tmp['loss']
)

/var/folders/p6/smkl584n3310p662pxj_990c0000gn/T/ipykernel_32747/482809412.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['faulty'] = False
/var/folders/p6/smkl584n3310p662pxj_990c0000gn/T/ipykernel_32747/482809412.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['faulty'] = np.where(

the largest quantity was 5568. That sounds a bit strange, when 75% percentile was 3

# Countries

# Customers

# Reference

- [Kaggle notebook: ecommerce sales forecast](https://www.kaggle.com/code/allunia/e-commerce-sales-forecast)
- [Customer Segmentation](https://www.kaggle.com/code/fabiendaniel/customer-segmentation)